.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px;
}
.custom-box {
  text-align: center;
  padding: 1rem;
  border: 1px solid #d8dde6;
}

.custom-li-box {
  text-align: left;
  border: 1px solid #d8dde6;
  margin: 5px;
  padding: 0.5rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.badge-green {
  margin-bottom: 5px;
  color: white;
  background: green;
  cursor: pointer;
}

.badge-red {
  margin-bottom: 5px;
  color: white;
  background: red;
  cursor: pointer;
}